<div class="cards">
  <div
    class="flip-card"
    *ngFor="let card of cards"
    (click)="handleClick(card)">
      <div class="flip-card-inner" [ngClass]="{'flip-card-inner--selected': card.selected}">
        <div class="flip-card-front">
          {{ card.text }}
        </div>
        <div
          class="flip-card-back"
          [ngClass]="{
            'flip-card-back--disabled': isGridDisabled,
            'flip-card-back--win': card.disabled
          }">
        </div>
      </div>
  </div>
</div>
